html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Start override Select*/
.form-floating > .form-select {
    padding-bottom: 0.225rem;
}
/*End override Select*/